body{
    text-align: center !important;
    background-color: #f7f7f7 !important ; 
    overflow: hidden;
}

html, body {
    overflow-x: hidden;
  }
body {
    position: relative;
  }
img{
    width: 40%;
    height: auto;
}


h1{
    margin-top: 40px !important;
    margin-bottom: 60px !important;
    font-weight: bold !important;
}

#p1{
    text-align: end;
}

#player1{
    margin-right: 30px;
}

#p2{
    text-align: start;
}

#player2{
    margin-left: 30px;
}
button{
    margin-top: 50px !important;
}
footer{
    margin-top: 30px !important;
}



@media only screen and (max-width:900px) {
    .main-div{
        margin-top:45% ;
    }

    #player1{
        margin-right: 5%;
    }

    #player2{
        margin-left: 5%;
    }

    img{
        width: 30vw;
        height: auto; 
    }

    h1{
        font-size: 200% !important;
    }
    
}